body {
  background-color: whitesmoke;;
  box-sizing: border-box;
 font-family: 'Montserrat', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#box {
  padding: 0;
}

.header div {
  padding: 10px 40px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  
}
img {
  height: 100px;
}
section {
  border: 1px solid whitesmoke;
  width: 45%;
  margin: 0 auto;
  height: auto;
  background-color: #6441a4;;
  color: whitesmoke;
  border-radius: 25px;
}

.button {
  transition: all 0.3s ease; 
  border-radius: 25px;
  text-align: center;
  width: 100px;
}

.button:hover {
  border: 1px solid silver;
  color: silver;
  transform: scale(1.1);
  box-shadow: 0px 0px 6px 2px rgba(185, 189, 106, 0.52);
  border-radius: 25px;
}

.search {
  padding: 10px;
  text-align: center;
  width: 40%;
}

.search span {
  position: absolute;
  color: silver;
  padding: 7px;
}

.search input {
  border-radius: 50px;
  border: 1px solid silver;
  height: 25px;
  outline: none;
  width: 70%;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px 2px rgba(185, 189, 106, 0.52);
}

input:hover {
  width: 100%;
}

.img {
  width: 50px;
  height: 50px;
}

li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
}